---
import type { menu, options } from "../../types/sideBarTypes";

interface Props {
	menu: menu[];
}
const { menu }: Props = Astro.props;
---

<div>
	{
		menu.map((menu) => (
			<div>
				<button
					class:list={["sidebar__select", `block px-2 py-1 rounded hover:bg-gray-700 hover:text-white cursor-pointer w-full text-left`]}
				>
					<b>{menu.title}</b>
				</button>

				<div class="menu__option hidden">
					{menu.options.map((option) => (
						<a
							href={option.link}
							class:list={[`block px-2 py-1 rounded hover:bg-gray-700 hover:text-white cursor-pointer`]}
						>
							{option.name}
						</a>
					))}
				</div>
			</div>
		))
	}
</div>

<script>
	const $select = document.querySelector(".sidebar__select");
	const $menu = document.querySelector(".menu__option");

	const toggleMenu = () => {
		/* toggle: si tiene la clase hidden la quita, si no la pone */
		$menu?.classList.toggle("hidden");
	};

	$select?.addEventListener("click", toggleMenu);
</script>
