---
import type { options } from "../../types/optionTypes";

interface Props {
	options: options[];
}
const { options }: Props = Astro.props;
---

<!-- select -->
<button class:list={["sidebar__select", `block px-2 py-1 rounded hover:bg-gray-700 hover:text-white cursor-pointer`]}>
	<b><slot /></b>
</button>
<!-- menu -->
<div class={`flex flex-col menu__option`}>
	{
		options.map((option) => (
			<a class="block px-2 rounded hover:bg-gray-700 hover:text-white cursor-pointer ml-3" href={option.link}>
				{option.name}
			</a>
		))
	}
</div>

<script>
	const $select = document.querySelector(".sidebar__select");
	const $menu = document.querySelector(".menu__option");

	const toggleMenu = () => {
		$menu?.classList.toggle("hidden");
	};

	$select?.addEventListener("click", toggleMenu);
</script>
