---
import Select from "../../../../components/side-bar/components/select/Select.astro";
import { optionsList } from "../../../../components/side-bar/data/sideBarData";
---

<aside class="w-64 min-h-screen p-4">
	<div class="border-r border-accent">
		<h2 class="text-lg font-bold mb-2">Routing and navigation</h2>

		<Select menu={optionsList}> Animation</Select>

		<a href="#" class="block px-2 py-1 rounded bg-blue-600 text-white font-semibold"> Routing </a>
		<a href="#" class="block px-2 py-1 rounded hover:bg-gray-700 hover:text-white"> Endpoints </a>
	</div>
</aside>
