---
import Select from "./components/select/Select.astro";
import {sideBarData} from "./data/sideBarData";

---

<aside class="w-64 min-h-screen p-4">
	<div class="border-r border-accent">
		<h2 class="text-lg font-bold mb-2">Routing and navigation</h2>

		<Select menu={sideBarData} />
	</div>
</aside>
